/* You can add global styles to this file, and also import other style files */
body {
  overflow: none;
  margin: 0;
  /*touch-action: none;*/
  font-family: sans-serif;

  position: relative;
  width: 100%;
  height: 100vh;
  background:
    linear-gradient(#66ffffb5, transparent), 
    radial-gradient( ellipse at bottom, #91ff0096, transparent), 
    linear-gradient(45deg, #ff00df87, transparent);
  background-blend-mode: lighten;
}

button {
  border: none;

  &:focus {
    outline: none;
  }
}
