.note-body {
  position: relative;
  background: white top right / 24px no-repeat;
  padding: 8px 48px;
  border-radius: 16px;
  box-shadow: 1px 1px 8px #0005;
  user-select: none;
  box-sizing: border-box;

  h2 {
    border-bottom: 3px dashed transparent;
    transition: border 0.2s;
  }
  [contenteditable="true"]:focus {
    border: none;
    border-bottom: 3px solid black;
    outline: none;
  }



  .dragger {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 100%;
    background: center / 24px no-repeat;

    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="black"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>');
  }

  .radiobutton {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 48px;

    background: center / 24px no-repeat;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="black"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');
  }

  &.note--done {
    background-color: #fff5;
    color: #0005;
    text-decoration: line-through;

    .radiobutton {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 24 24" fill="white"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM9.29 16.29L5.7 12.7c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0L10 14.17l6.88-6.88c.39-.39 1.02-.39 1.41 0 .39.39.39 1.02 0 1.41l-7.59 7.59c-.38.39-1.02.39-1.41 0z"/></svg>');
    }
  }

}
